body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: #121212;
}

.App {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}


/* Nav-heading */

.nav-details {
    grid-column: 3/13;
    grid-row: 1;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
}

.nav-grid {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.nav-logo {
    vertical-align: middle;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.60);
}

.upgrade-btn {
    background-color: #000;
    border: 1px solid #535353;
    border-radius: 500px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 18px;
    padding: 8px 34px;
    text-align: center;
    white-space: nowrap;
}

.nav-grid .upgrade-btn:hover {
    color: rgb(40, 252, 40);
    border: 1px solid #1e5525;
}

.user-btn {
    background-color: #000;
    border: 1px solid #535353;
    border-radius: 500px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
}

.user-icon {
    vertical-align: middle;
    font-size: 1.2rem;
}


/* Sidebar */

.side-nav {
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/12;
    padding: 10px;
    background-color: #000;
    color: #B3B3B3;
}

.side-nav hr {
    border-style: none;
    height: 2px;
    background-color: rgba(124, 121, 121, 0.12);
    margin: 1.2rem 0;
}

.nav-tile {
    padding: 10px 5px;
    display: block;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 26px;
    text-align: start;
    width: 90%;
    font-size: 1rem;
}

.nav-tile:hover {
    background-color: #282828;
    color: #fff;
    border-radius: 5px;
}

.nav-tile span {
    margin-top: 5px;
}

.tile-logo {
    vertical-align: middle;
    font-size: 1.5rem;
    margin-right: 20px;
    margin-left: 5px;
}


/* content */

.content {
    padding: 0 2rem;
    overflow: auto;
    grid-column: 3/13;
    grid-row: 2/12;
}


/* Gerne Tiles */

.genre-tile {
    display: flex;
    flex-direction: column;
}

.genre-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.music-list {
    /* padding: 10px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4.5rem;
    overflow: hidden;
    background-color: #121212;
}

.music-card {
    margin: 10px 0;
    padding: 5px 1rem;
    background-color: rgb(26, 26, 26);
    display: block;
    text-align: left;
    box-shadow: 2px 2px 30px rgba(3, 3, 3, 0.55);
}

.music-card .title {
    font-weight: 600;
    font-size: 17px;
    display: block;
    word-wrap: normal;
    /* white-space: nowrap; */
    margin: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.music-card .singer {
    font-size: 14px;
    display: block;
    margin-bottom: 1.5rem;
    /* margin-top: .5rem; */
    word-wrap: break-word;
    color: rgba(255, 255, 255, 0.70);
}

.music-card img {
    padding: 10px 0;
    height: 150px;
    width: 150px;
    object-position: center;
    object-fit: cover;
}

.music-card:hover {
    /* background-color: rgb(35, 35, 35); */
    background-image: linear-gradient(to top, #0a0a0a, #1d9425);
}

.logo {
    position: relative;
    width: 10vw;
    height: 15vh;
    /* width: 3fr; */
    padding: 10px;
    object-position: center;
    object-fit: cover;
}

.music-bar {
    grid-column: 1/13;
    grid-row: 12;
    background-color: #181818;
    display: flex;
}


/* left side of music bar */

.song-details {
    padding: 10px;
    justify-content: flex-start;
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
}

.song-detail-icon {
    /* vertical-align: middle; */
    align-self: center;
    padding: 0 7px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.55);
}


/* fix padding */

.song-details img {
    height: 70px;
    width: 70px;
    object-position: center;
    object-fit: cover;
    padding-right: 7px;
}

.song-details p {
    margin: 0;
    padding: 0 7px;
    color: #fff;
    overflow: hidden;
    word-wrap: break-word;
}

.song-details small {
    margin: 0;
    padding: 0 7px;
    color: rgba(255, 255, 255, 0.75);
    overflow: hidden;
    word-wrap: break-word;
}

.song-controller {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-content: center;
    /* align-items: center; */
}

.song-controller-icons {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.2rem;
    padding: 0 5rem;
}

.song-time {
    margin-top: .2rem;
}

.song-time hr {
    /* width: 100px; */
    height: 2px;
    border: none;
    background-color: rgba(255, 255, 255, 0.55);
    align-self: center;
}

.song-time p {
    margin: 0 auto;
    padding: 5px;
    color: rgba(255, 255, 255, 0.55);
}

.volume-controller {
    /* width: 0; */
    flex: 1 1 0;
    align-items: center;
    justify-items: center;
    justify-self: center;
    justify-content: flex-end;
    padding-right: 1rem;
}

.volume-controller-icons {
    padding: 0 1rem;
    color: rgba(255, 255, 255, 0.55);
    font-size: 1.2rem;
}

.volume-controller hr {
    background-color: rgba(255, 255, 255, 0.55);
    height: .15rem;
    width: 15%;
    margin: 0;
    border: none;
    padding: 0;
}


/* Scroll Bar Setting */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #121212;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, .50);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #808080;
}